@import '~node_modules/modern-normalize/modern-normalize.css';
body{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    color: getColor('main-text');
    background-color: getColor('main-bgc');
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

a{
    color: currentColor;
}