@import '~node_modules/modern-normalize/modern-normalize.css';
body{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    color: getColor('main-text');
    background-color: getColor('main-bgc');
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

a{
    color: currentColor;
}
.hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal-back{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    perspective:400px;
    overflow-y:scroll ;
    background-color: getColor('modal-back');
    z-index: 10;
}
.modal-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 32px;
    padding-bottom: 32px;
    border: 3px solid getColor('accent');
    border-radius: 10px;
    background-color: getColor('main-text');
    z-index: 10;
}
.modal-close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar {
    background-color: #D4D4D4;
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #D4D4D4;
}

::-webkit-scrollbar-thumb {
    background-color: #BFBFBF;
}

::-webkit-scrollbar-button {
    display: none;
}