<section class="comments-section">
    <div class="container">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="comments-section__picture">
                        <img src="./images/man-hold-ice-cream_1x-min.jpg" alt="women with curly hair" />s
                    </div>
                    <div class="comments-section__decription">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you
                        have beautiful
                        serving, cozy atmosphere and polite staff.
                    </div>
                    <p class="comments-section__location">Emily, Los Angeles</p>
                </div>
                <div class="swiper-slide">
                    <div class="comments-section__picture">
                        <img src="./images/man-eat-ice-cream_1x-min.jpg" alt="man eats ice-cream" />
                    </div>
                    <div class="comments-section__decription">
                        Every day we come to you with friends after classes in college. We love your ice cream and casual
                        atmosphere!
                    </div>
                    <p class="comments-section__location">Bryan, New-York</p>
                </div>
                <div class="swiper-slide">
                    <div class="comments-section__picture">
                        <img src="./images/woman-hold-ice-cream_1x-min.jpg" alt="women with curly hair" />
                    </div>
                    <div class="comments-section__decription">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you
                        have beautiful
                        serving, cozy atmosphere and polite staff.
                    </div>
                    <p class="comments-section__location">Diana, Chicago</p>
                </div>
                <div class="swiper-slide">
                    <div class="comments-section__picture">
                        <img src="./images/man-hold-ice-cream_1x-min.jpg" alt="man holds ice-cream" />
                    </div>
                    <div class="comments-section__decription">
                        I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I
                        know.
                    </div>
                    <p class="comments-section__location">Sam, Los Angeles</p>
                </div>
            </div>
        
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
