<header>
    <section class="header-section">
        <div class="container">
            <div class="header-wrapper">
                <span class="logo">
                    <svg class="logo__item">
                        <use href="./images/symbol-defs.svg#icon-ice-creame-header"></use>
                    </svg>
                </span>
                <nav class="navigation">
                <ul class="nav-list">
                    <li class="nav__item"><a class="nav__link" href="/">Home</a></li>
                    <li class="nav__item"><a class="nav__link" href="">How it’s made?</a></li>
                    <li class="nav__item"><a class="nav__link" href="">Our products</a></li>
                    <li class="nav__item"><a class="nav__link" href="">Contact</a></li>
                </ul>
                </nav>
                <button type="button" class="header__button">Buy now</button>
            </div>
        </div>
    </section>
</header>