<section class="hero-section">
    <div class="container">
        <div class="hero-wrapper">
            <h1 class="hero__title"></h1>
            <div class="hero__button-wrapper">
                <button class="products-button">Products</button>
                <button class="howmade-button">How it’s made?</button>
            </div>
            <div class="hero__prodacts-wrapper">
                <div class="plate-wrapper">
                </div>
                <div class="descriprion">
                    <p class="decription__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button type="button" class="description__button"></button>
                </div>
            </div>
            <div class="ice-creame-wrapper">
                <ul class="smile-list">
                    <li class="smile__item smile__item--orange"></li>
                    <li class="smile__item smile__item--green" ></li>
                    <li class="smile__item smile__item--purple"></li>
                </ul>
            </div>
            <div class="location-wrapper">
                <div class="cafes-quantity-wrapper">
                    <span class=""></span>
                </div>
                <div class="food-trucks-quantity-wrapper"></div>
            </div>
        </div>
    </div>
</section>