<section class="howmade-section">
    <div class="container">
        <div class="howmade-container">
            <h2 class="howmade__title">
                tradition and love <br>
                <span class="howmade-title__span">how it’s made?</span>
            </h2>
            <div class="howmade-info-container">
                <div class="howmade-photo-container">
                    </div>
                <div class="howmade-image-background"></div>
                <div class="howmade-textbutton-container">
                    <ul class="howmade-text-list">
                        <li class="howmade-text-item">
                            <p class="howmade--text">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and
                            we follow it when creating our handmade desserts.</p>
                        </li>
                        <li class="howmade-text-item">
                            <p class="howmade--text">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children
                            from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.
                            </p>
                        </li>
                        <li class="howmade-text-item">
                            <p class="howmade--text">This is enough to choose ice cream and coffee for any mood!</p>
                        </li>
                    </ul>
                    <button class="howmade--button" type="button">
                        Read more
                    </button>
                </div>
            </div>
            <div class="howmade-characteristics-container">
                <ul class="howmade-characteristics-list">
                    <li class="howmade-characteristics-item">
                        <svg class="howmade--svg">
                            <use href="./images/symbol-defs.svg#icon-cow"></use>
                        </svg>
                        <p class="howmade-characteristics--text">
                            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                            <span class="howmade-characteristics--span">721</span>
                        </p>
                    </li>
                    <li class="howmade-characteristics-item">
                        <svg class="howmade--svg">
                            <use href="./images/symbol-defs.svg#icon-weight"></use>
                        </svg>
                        <p class="howmade-characteristics--text">
                            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                            <span class="howmade-characteristics--span">16kg</span>
                        </p>
                    </li>
                    <li class="howmade-characteristics-item">
                        <svg class="howmade--svg">
                            <use href="./images/symbol-defs.svg#icon-ice-cream"></use>''
                        </svg>
                        <p class="howmade-characteristics--text">
                            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                            <span class="howmade-characteristics--span">84</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>