<section class="section-location">
    <div class="container">
        <ul class="location-list">
            <li class="location-list__item">
                <h4 class="location-list__item-title">CAFE</h4>
                <div class="location-list__item-address location-info-block">
                    <p class="location-city">Chicago</p>
                    <a href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.7033903,-87.782315,17z/data=!3m1!4b1!4m6!3m5!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7033903!4d-87.7797401!16s%2Fg%2F11jnxh2b00?authuser=0&entry=ttu" class="location-point">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                </div>
                <div class="location-list__item-shedule location-info-block">
                    <div class="location-shedule-container">
                        <div class="location-days">
                            <span>Monday</span>
                            <span>-</span>
                            <span>Friday</span>
                        </div>
                        <div class="location-hours">
                            <span>06:00 AM</span>
                            <span>-</span>
                            <span>10:00 PM</span>
                        </div>
                    </div>
                    <div class="location-shedule-container">
                        <div class="location-days">
                            <span>Saturday</span>
                            <span>-</span>
                            <span>Sunday</span>
                        </div> 
                        <div class="location-hours">
                            <span>08:00 AM</span>
                            <span>-</span>
                            <span>16:00 PM</span>
                        </div>
                    </div>
                </div>
                <div class="location-list__item-contacts">
                    <a href="tel:+610383766284" class="location-phone">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="location-mail">noreply@envato.com</a>
                </div>
            </li>
            <li class="location-list__item">
                <h4 class="location-list__item-title">FOOD TRUCK</h4>
                <div class="location-list__item-address location-info-block">
                    <p class="location-city">Los Angeles</p>
                    <a href="https://www.google.com/maps/search/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90263,+USA/@33.8891653,-118.4012415,16z/data=!3m1!4b1?authuser=0&entry=ttu" class="location-point">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                </div>
                <div class="location-list__item-shedule location-info-block">
                        <div class="location-shedule-container">
                            <div class="location-days">
                                <span>Monday</span>
                                <span>-</span>
                                <span>Friday</span>
                            </div>
                            <div class="location-hours">
                                <span>06:00 AM</span>
                                <span>-</span>
                                <span>10:00 PM</span>
                            </div>
                        </div>
                        <div class="location-shedule-container">
                            <div class="location-days">
                                <span>Saturday</span>
                                <span>-</span>
                                <span>Sunday</span>
                            </div>
                            <div class="location-hours">
                                <span>08:00 AM</span>
                                <span>-</span>
                                <span>16:00 PM</span>
                            </div>
                        </div>
                </div>
                <div class="location-list__item-contacts">
                    <a href="tel:+610383766284" class="location-phone">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="location-mail">noreply@envato.com</a>
                </div>
            </li>
            <li class="location-list__item">
                <h4 class="location-list__item-title">CAFE</h4>
                <div class="location-list__item-address location-info-block">
                    <p class="location-city">New York</p>
                    <a href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726938,-73.9573089,17z/data=!3m1!4b1!4m6!3m5!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734!16s%2Fg%2F11dfjw_l7m?authuser=0&entry=ttu" class="location-point">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                </div>
                <div class="location-list__item-shedule location-info-block">
                    <div class="location-shedule-container">
                        <div class="location-days">
                            <span>Monday</span>
                            <span>-</span>
                            <span>Friday</span>
                        </div>
                        <div class="location-hours">
                            <span>06:00 AM</span>
                            <span>-</span>
                            <span>10:00 PM</span>
                        </div>
                    </div>
                    <div class="location-shedule-container">
                        <div class="location-days">
                            <span>Saturday</span>
                            <span>-</span>
                            <span>Sunday</span>
                        </div>
                        <div class="location-hours">
                            <span>08:00 AM</span>
                            <span>-</span>
                            <span>16:00 PM</span>
                        </div>
                    </div>
                </div>
                <div class="location-list__item-contacts">
                    <a href="tel:+610383766284" class="location-phone">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="location-mail">noreply@envato.com</a>
                </div>
            </li>
        </ul>
        <div class="location-btns">
            <button type="button" class="button-primary" onclick="location_modal_toogle(this)" modalId="location-modal-container">Our Locations</button>
            <button type="button" class="button-secondary" onclick="location_modal_toogle(this)" modalId="franchise-modal-container">Franchise</button>
        </div>
    </div>
</section>