<section class="section-location">
    <div class="container">
        <ul class="location-list">
            <li class="location-list__item">
                <h4 class="location-list__item-title">CAFE</h4>
                <div class="location-list__item-address location-info-block">
                    <p class="location-city">Chicago</p>
                    <a href="" class="location-point">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                </div>
                <div class="location-list__item-shedule location-info-block">
                    <div class="location-shedule-container">
                        <div class="location-days">
                            <span>Monday</span>
                            <span>-</span>
                            <span>Friday</span>
                        </div>
                        <div class="location-hours">
                            <span>06:00 AM</span>
                            <span>-</span>
                            <span>10:00 PM</span>
                        </div>
                    </div>
                    <div class="location-shedule-container">
                        <div class="location-days">
                            <span>Saturday</span>
                            <span>-</span>
                            <span>Sunday</span>
                        </div> 
                        <div class="location-hours">
                            <span>08:00 AM</span>
                            <span>-</span>
                            <span>16:00 PM</span>
                        </div>
                    </div>
                </div>
                <div class="location-list__item-contacts">
                    <a href="tel:+610383766284" class="location-phone">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="location-mail">noreply@envato.com</a>
                </div>
            </li>
            <li class="location-list__item">
                <h4 class="location-list__item-title">FOOD TRUCK</h4>
                <div class="location-list__item-address location-info-block">
                    <p class="location-city">Los Angeles</p>
                    <a href="" class="location-point">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                </div>
                <div class="location-list__item-shedule location-info-block">
                        <div class="location-shedule-container">
                            <div class="location-days">
                                <span>Monday</span>
                                <span>-</span>
                                <span>Friday</span>
                            </div>
                            <div class="location-hours">
                                <span>06:00 AM</span>
                                <span>-</span>
                                <span>10:00 PM</span>
                            </div>
                        </div>
                        <div class="location-shedule-container">
                            <div class="location-days">
                                <span>Saturday</span>
                                <span>-</span>
                                <span>Sunday</span>
                            </div>
                            <div class="location-hours">
                                <span>08:00 AM</span>
                                <span>-</span>
                                <span>16:00 PM</span>
                            </div>
                        </div>
                </div>
                <div class="location-list__item-contacts">
                    <a href="tel:+610383766284" class="location-phone">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="location-mail">noreply@envato.com</a>
                </div>
            </li>
            <li class="location-list__item">
                <h4 class="location-list__item-title">CAFE</h4>
                <div class="location-list__item-address location-info-block">
                    <p class="location-city">New York</p>
                    <a href="" class="location-point">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                </div>
                <div class="location-list__item-shedule location-info-block">
                    <div class="location-shedule-container">
                        <div class="location-days">
                            <span>Monday</span>
                            <span>-</span>
                            <span>Friday</span>
                        </div>
                        <div class="location-hours">
                            <span>06:00 AM</span>
                            <span>-</span>
                            <span>10:00 PM</span>
                        </div>
                    </div>
                    <div class="location-shedule-container">
                        <div class="location-days">
                            <span>Saturday</span>
                            <span>-</span>
                            <span>Sunday</span>
                        </div>
                        <div class="location-hours">
                            <span>08:00 AM</span>
                            <span>-</span>
                            <span>16:00 PM</span>
                        </div>
                    </div>
                </div>
                <div class="location-list__item-contacts">
                    <a href="tel:+610383766284" class="location-phone">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="location-mail">noreply@envato.com</a>
                </div>
            </li>
        </ul>
        <div class="location-btns">
            <button type="button" class="button-primary">Our Locations</button>
            <button type="button" class="button-secondary">Franchise</button>
        </div>
    </div>
</section>