<section class="section-poster">
    <div class="container">
        <!-- Slider main container -->
        <div class="swiper-poster">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="poster-section__picture">
                        <img src="./images/image-section1-desc_1x-min.jpg" alt="women with curly hair" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="poster-section__picture">
                        <img src="./images/image-section2-desc_1x-min.jpg" alt="man eats ice-cream" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="poster-section__picture">
                        <img src="./images/image-section3-desc_1x-min.jpg" alt="women with curly hair" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>