<!-- section products -->
<section class="section-products">
    <div class="container">
        <div class="products">
            <div class="products__title-count">100% natural</div>
            <h2 class="products__title">products</h2>
            <ul class="products-list">
                <li class="products-list__item">
                    <div class="ice-cream-card__img">
                        <!-- <img src="./images/products-ice1-desc_1x-min.png" width="300" height="300" alt="few ice-creams in waffel pocket"> -->
                    </div>
                    <div class="ice-cream-card__img--back"></div>
                    <div class="ice-cream-card__body">
                        <h3 class="ice-cream-card__title">ice cream</h3>
                        <p class="ice-cream-card__text">Soft ice cream with a delicate taste. 
                            Made with milk, cream, sugar and natural stabilizer
                        </p>
                        <button type="button" class="ice-cream-card__btn1">
                            <svg class="arrow-logo" width="41" height="15">
                                <use href="./images/symbol-defs.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                </li>
                <li class="products-list__item">
                    <div class="ice-cream-card__img">
                        <!-- <img src="./images/products-ice2-desc_1x-min.png" width="300" height="300" alt="coffee ice-cream"> -->
                    </div>
                    <div class="ice-cream-card__img--back"></div>
                    <div class="ice-cream-card__body">
                        <h3 class="ice-cream-card__title">ice coffee</h3>
                        <p class="ice-cream-card__text">Fragrant invigorating drink created from 100% natural 
                            ingredients without the use of preservatives and flavor enhancers
                        </p>
                        <button type="button" class="ice-cream-card__btn2">
                            <svg class="arrow-logo" width="41" height="15">
                                <use href="./images/symbol-defs.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                </li>
                <li class="products-list__item">
                    <div class="ice-cream-card__img">
                        <!-- <img src="./images/products-ice3-desc_1x-min.png" width="300" height="300" alt="ice-creams with chocolate"> -->
                    </div>
                    <div class="ice-cream-card__img--back"></div>
                    <div class="ice-cream-card__body">
                        <h3 class="ice-cream-card__title">milkshakes</h3>
                        <p class="ice-cream-card__text">Sweet drinks based on milk and ice cream, 
                            supplemented with syrups, fruits, berries and other sweets of your choice
                        </p>
                        <button type="button" class="ice-cream-card__btn3">
                            <svg class="arrow-logo" width="41" height="15">
                                <use href="./images/symbol-defs.svg#arrow"></use>
                            </svg>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>