<div class="products-modal-container hidden">
    <button type="button"></button>
    <h4>Chololate icecream</h4>
    <div></div>
    <ul>
        <li>
            <div>
                <span>320</span>
                <span>kcal</span>
            </div>
        </li>
        <li>
            <div>
                <span>4g</span>
                <span>Protein...</span>
            </div>
        </li>
        <li>
            <div>
                <span>8,2g</span>
                <span>Fats</span>
            </div>
        </li>
        <li>
            <div>
                <span>40,4g</span>
                <span>Carbs</span>
            </div>
        </li>
    </ul>

    <div>
        <h5>Ingredients</h5>
        <ul>
            <li>
                <span>Milk</span>
                <span>100ml</span>
            </li>
            <li>
                <span>Belgian chocolate</span>
                <span>20g</span>
            </li>
            <li>
                <span>Cream</span>
                <span>150 ml</span>
            </li>
            <li>
                <span>Cocoa powder</span>
                <span>30g</span>
            </li>
            <li>
                <span>Sugar</span>
                <span>40g</span>
            </li>
            <li>
                <span>Vanilla sugar</span>
                <span>10g</span>
            </li>
        </ul>
    </div>
    <form>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Phone">
        <textarea name="" id="" placeholder="Comment"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>