<!-- section products -->
<section class="section">
    <div class="container">
        <div class="products">
            <div>100% natural</div>
            <h2 class="products__title">products</h2>
            <ul class="products-list">
                <li class="products-list__item">
                    <a href="" class="products-list__link ice-cream-card">
                        <div class="ice-cream-card__img"></div>
                        <div class="ice-cream-card__body">
                            <h3 class="ice-cream-card__title">ice cream</h3>
                            <p class="ice-cream-card__text">Soft ice cream with a delicate taste. 
                                Made with milk, cream, sugar and natural stabilizer
                            </p>
                            <button type="button" class="button-primary ice-cream-card__btn">Products</button>
                        </div>
                    </a>
                </li>
                <li class="products-list__item">
                    <a href="" class="products-list__link ice-cream-card">
                        <div></div>
                        <div class="ice-cream-card__body">
                            <h3 class="ice-cream-card__title">ice coffee</h3>
                            <p class="ice-cream-card__text">Fragrant invigorating drink created from 100% natural 
                                ingredients without the use of preservatives and flavor enhancers
                            </p>
                            <button type="button" class="button-secondary ice-cream-card__btn">Products</button>
                        </div>
                    </a>
                </li>
                <li class="products-list__item">
                    <a href="" class="products-list__link ice-cream-card">
                        <div></div>
                        <div class="ice-cream-card__body">
                            <h3 class="ice-cream-card__title">milkshakes</h3>
                            <p class="ice-cream-card__text">Sweet drinks based on milk and ice cream, 
                                supplemented with syrups, fruits, berries and other sweets of your choice
                            </p>
                            <button type="button" class="button--no-border ice-cream-card__btn">Products</button>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>