.section-poster{
    position: relative;
    padding-top: 180px;
    background: linear-gradient(to bottom,getColor('main-bgc') 0px, getColor('main-bgc') 94px, transparent 94px,transparent);
    
    & .container{
        position: absolute;
        top:94px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }
}
.poster-section__picture{
    margin: 0 auto;
    border-radius:24px;
    overflow: hidden
}
.swiper-wrapper{
    // overflow: hidden;
    // justify-content: center;
}
.poster-section__picture{
    @include flex(flex,center,center);
    width: 1015px;
    height: 422px;
}
.swiper-slide{
    // width: 1015px!important;
    // height: 422px;
    margin: 0 auto;
}
.swiper-slide img{
    width: 100%;
    object-fit: cover;
}

